In [15]:
import pandas as pd
import os
from csv import DictWriter

In [16]:
#%% Machine
# container = 'sing20'
container = '_SP_m04'

In [17]:
#%% SET NUMBER OF ITERATIONS
# remember: the first one is inclusive, whereas the last one is exclusive
initial_index = 32001
final_index = 32101

In [18]:
#%% INPUT AND OUTPUT FOLDER
root_child_directory = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_global/'
root_parent_directory = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/'

In [19]:
#%% INPUT TIMESTAMPS (ts) THROUGH CSV FILES
# IMPORTANT: the csv file must have a title and be limited to one column
ts_csv_filename = '_SHP_Filename.csv'
location_ts_csv_folder = root_child_directory
location_ts_csv_file = location_ts_csv_folder + ts_csv_filename
ts_name_df = pd.read_csv(location_ts_csv_file)

In [20]:
#%% INPUT SUBCATCHMENTS (sc) THROUGH CSV FILE
sc_csv_filename = '_CSV_subcatchment.csv'
location_sc_csv_folder = root_child_directory
location_sc_csv_file = location_sc_csv_folder + sc_csv_filename
sc_name_df = pd.read_csv(location_sc_csv_file)

In [21]:
#%% INPUT AND OUTPUT FOLDER
clsc_sdat_results_folder = root_parent_directory + container + '/clsc_sdat/'

In [22]:
#%% DATAFRAME FOR ITERATIONS
ts_name_df = ts_name_df.iloc[initial_index, :] if initial_index == final_index else ts_name_df.iloc[initial_index: final_index, :]
ts_name_df = ts_name_df if type(ts_name_df) == type(pd.DataFrame()) else ts_name_df.to_frame().T

# sufix
ts_name_df['suf_clsc_sdat'] = '_'+ ts_name_df.timestamp.str[3:] + '.sdat'

In [23]:
#%% SET SUBCATCHMENT DATAFRAME
# prefix
sc_name_df['pre_clsc_sdat'] = clsc_sdat_results_folder + 'clsc_' + sc_name_df.subcatchment.str[3:]

In [24]:
ts_name_df.head()

       id_ts        timestamp       suf_clsc_sdat
32001  32001  ts_199910230330  _199910230330.sdat
32002  32002  ts_199910230335  _199910230335.sdat
32003  32003  ts_199910230340  _199910230340.sdat
32004  32004  ts_199910230345  _199910230345.sdat
32005  32005  ts_199910230350  _199910230350.sdat

In [25]:
sc_name_df.head()

  subcatchment   area                                      pre_clsc_sdat
0      sc_0001   2983  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
1      sc_0002  13626  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
2      sc_0003   8328  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
3      sc_0004   5442  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
4      sc_0005   1685  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...

In [26]:
#%% FUNCTION 2
def function_2_sc(
    arg_sc_name_df_pre_clsc_sdat,
    arg_ts_name_df_suf_clsc_sdat,
    arg_ts_name_df_timestamp,
    arg_sc_name_df_subcatchment,
    arg_ts_name_df_id_ts
    ):

    path = arg_sc_name_df_pre_clsc_sdat + arg_ts_name_df_suf_clsc_sdat
    isFile = os.path.isfile(path)

    if isFile:
        pass
    else:
        field_names = ['ID', 'SC', 'TS', 'PATH', 'ISFILE']
        first_feature_record = {
            'ID': arg_ts_name_df_id_ts,
            'SC': arg_sc_name_df_subcatchment,
            'TS': arg_ts_name_df_timestamp,
            'PATH': path,
            'ISFILE': isFile}

        with open('path_exist.csv', 'a+', newline='') as csv_file:
            record_writer = DictWriter(csv_file, fieldnames=field_names)
            record_writer.writerow(first_feature_record)

In [27]:
#%% FUNCTION 1
def function_1_ts(
    arg_ts_name_df_suf_clsc_sdat,
    arg_ts_name_df_timestamp,
    arg_ts_name_df_id_ts
    ):

    # EXECUTE FUNCTION 2
    sc_name_df.apply(lambda arg: function_2_sc(
        arg.pre_clsc_sdat,
        arg_ts_name_df_suf_clsc_sdat,
        arg_ts_name_df_timestamp,
        arg.subcatchment,
        arg_ts_name_df_id_ts
        ),
        axis=1)

In [28]:
#%% EXECUTE FUNCTION 1
ts_name_df.apply(lambda arg: function_1_ts(
    arg.suf_clsc_sdat,
    arg.timestamp,
    arg.id_ts
    ),
    axis=1)

32001    None
32002    None
32003    None
32004    None
32005    None
         ...
32096    None
32097    None
32098    None
32099    None
32100    None
Length: 100, dtype: object

In [2]:
import pyarrow as pa

In [ ]:
df = pd.DataFrame(index=range(len(sc_name_df['pre_clsc_sdat'])), columns=range(len(ts_name_df['suf_clsc_sdat'])))
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in sc_name_df['pre_clsc_sdat']:
    for j in ts_name_df['suf_clsc_sdat']:
        df[i,j] = i + j

InvalidIndexError: ('C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_SP_m04/clsc_sdat/clsc_0001', '_199910230330.sdat')

In [ ]:
df

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_SP_m04/clsc_sdat/clsc_1534_199910231145.sdat'

In [ ]:
sc_name_df['pre_clsc_sdat'][1]

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_SP_m04/clsc_sdat/clsc_0002'

In [3]:
from pathlib import Path
from urllib.request import urlopen

In [4]:
import pyarrow.parquet as pq

In [8]:
import uuid
import sys
import sqlite3
import cmath

In [1]:
from sklearn import preprocessing
import numpy as np

In [2]:
import requests

In [1]:
import folium

In [1]:
from shapely.geometry import Point