In [1]:
import pandas as pd
import numpy as np

In [8]:
def make_timeseries(start="2000-01-01", end="2000-12-31", freq="1D", seed=None):
    index = pd.date_range(start=start, end=end, freq=freq, name="timestamp")
    n = len(index)
    state = np.random.RandomState(seed)
    columns = {
        "name": state.choice(["Alice", "Bob", "Charlie"], size=n),
        "id": state.poisson(1000, size=n),
        "x": state.rand(n) * 2 - 1,
        "y": state.rand(n) * 2 - 1,
        }
    df = pd.DataFrame(columns, index=index, columns=sorted(columns))
    if df.index[-1] == end:
        df = df.iloc[:-1]
    return df

In [9]:
timeseries = [
    make_timeseries(freq="1T", seed=i).rename(columns=lambda x: f"{x}_{i}")
    for i in range(10)
    ]
timeseries

[                     id_0 name_0       x_0       y_0
 timestamp
 2000-01-01 00:00:00   977  Alice -0.821225  0.906222
 2000-01-01 00:01:00  1018    Bob -0.219182  0.350855
 2000-01-01 00:02:00   927  Alice  0.660908 -0.798511
 2000-01-01 00:03:00   997    Bob -0.852458  0.735260
 2000-01-01 00:04:00   965    Bob  0.717283  0.393391
 ...                   ...    ...       ...       ...
 2000-12-30 23:56:00  1037    Bob -0.814321  0.612836
 2000-12-30 23:57:00   980    Bob  0.232195 -0.618828
 2000-12-30 23:58:00   965  Alice -0.231131  0.026310
 2000-12-30 23:59:00   984  Alice  0.942819  0.853128
 2000-12-31 00:00:00  1003  Alice  0.201125 -0.136655

 [525601 rows x 4 columns],
                      id_1   name_1       x_1       y_1
 timestamp
 2000-01-01 00:00:00   975      Bob -0.288451 -0.215082
 2000-01-01 00:01:00  1032    Alice  0.919521 -0.338915
 2000-01-01 00:02:00   967    Alice  0.628664  0.763875
 2000-01-01 00:03:00  1021      Bob  0.995494  0.514133
 2000-01-01 00:04:00  1011      Bob -0.143403 -0.282985
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   984  Charlie -0.247867  0.703024
 2000-12-30 23:57:00   975    Alice -0.838312 -0.160905
 2000-12-30 23:58:00   929    Alice  0.220898 -0.073311
 2000-12-30 23:59:00  1000      Bob -0.344186  0.477168
 2000-12-31 00:00:00  1046      Bob  0.036291  0.336345

 [525601 rows x 4 columns],
                      id_2   name_2       x_2       y_2
 timestamp
 2000-01-01 00:00:00  1047    Alice -0.701819 -0.765593
 2000-01-01 00:01:00  1043      Bob  0.242424 -0.319271
 2000-01-01 00:02:00   963    Alice -0.518644  0.628198
 2000-01-01 00:03:00   952  Charlie  0.464291 -0.652434
 2000-01-01 00:04:00   973  Charlie -0.528326  0.137620
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   980      Bob -0.306331 -0.494212
 2000-12-30 23:57:00   940      Bob  0.723066  0.920336
 2000-12-30 23:58:00  1037    Alice -0.051512  0.279370
 2000-12-30 23:59:00   971      Bob  0.454773 -0.202761
 2000-12-31 00:00:00   930  Charlie  0.814986  0.005651

 [525601 rows x 4 columns],
                      id_3   name_3       x_3       y_3
 timestamp
 2000-01-01 00:00:00  1041  Charlie  0.132854  0.208719
 2000-01-01 00:01:00  1003    Alice -0.362268 -0.006126
 2000-01-01 00:02:00   921      Bob  0.462179 -0.106031
 2000-01-01 00:03:00  1015    Alice -0.043350  0.523658
 2000-01-01 00:04:00  1017    Alice -0.794234 -0.647341
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   973  Charlie -0.575353 -0.096118
 2000-12-30 23:57:00  1017  Charlie -0.412810 -0.699768
 2000-12-30 23:58:00   998    Alice  0.897814  0.051606
 2000-12-30 23:59:00  1031  Charlie  0.996290  0.505152
 2000-12-31 00:00:00  1026    Alice  0.012986 -0.531989

 [525601 rows x 4 columns],
                      id_4   name_4       x_4       y_4
 timestamp
 2000-01-01 00:00:00   963  Charlie  0.686143 -0.370780
 2000-01-01 00:01:00   946  Charlie -0.634645  0.987950
 2000-01-01 00:02:00   991      Bob -0.033909  0.795095
 2000-01-01 00:03:00  1036      Bob -0.826077  0.361152
 2000-01-01 00:04:00   962    Alice -0.073808 -0.779263
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   961  Charlie  0.814454 -0.713945
 2000-12-30 23:57:00  1022  Charlie -0.785447 -0.315402
 2000-12-30 23:58:00  1022  Charlie  0.430321 -0.228929
 2000-12-30 23:59:00  1018  Charlie  0.193494  0.682370
 2000-12-31 00:00:00  1010      Bob  0.142231 -0.577166

 [525601 rows x 4 columns],
                      id_5   name_5       x_5       y_5
 timestamp
 2000-01-01 00:00:00   966  Charlie -0.131565  0.142729
 2000-01-01 00:01:00  1019      Bob  0.648701 -0.483251
 2000-01-01 00:02:00  1012  Charlie  0.602235  0.850841
 2000-01-01 00:03:00  1024  Charlie -0.235616  0.257884
 2000-01-01 00:04:00   980    Alice  0.780168  0.550804
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00  1018  Charlie  0.461236  0.549647
 2000-12-30 23:57:00  1022      Bob  0.278605  0.531585
 2000-12-30 23:58:00  1023    Alice -0.704810 -0.048907
 2000-12-30 23:59:00   972  Charlie -0.472949  0.356980
 2000-12-31 00:00:00   963  Charlie -0.762894 -0.907637

 [525601 rows x 4 columns],
                      id_6   name_6       x_6       y_6
 timestamp
 2000-01-01 00:00:00  1043  Charlie -0.446677 -0.605627
 2000-01-01 00:01:00  1015      Bob  0.648736 -0.776474
 2000-01-01 00:02:00  1002    Alice -0.034098  0.803895
 2000-01-01 00:03:00   941  Charlie  0.619688 -0.606015
 2000-01-01 00:04:00   985      Bob  0.149121 -0.441701
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   994    Alice  0.844671 -0.994398
 2000-12-30 23:57:00   986    Alice  0.791688  0.698315
 2000-12-30 23:58:00   954    Alice -0.557630  0.064840
 2000-12-30 23:59:00  1030  Charlie  0.808547  0.069813
 2000-12-31 00:00:00   991      Bob  0.101143 -0.910065

 [525601 rows x 4 columns],
                      id_7   name_7       x_7       y_7
 timestamp
 2000-01-01 00:00:00   980    Alice -0.371775  0.697468
 2000-01-01 00:01:00  1000      Bob -0.570205 -0.473155
 2000-01-01 00:02:00   899  Charlie -0.690044 -0.912261
 2000-01-01 00:03:00   993    Alice -0.397596  0.248303
 2000-01-01 00:04:00   927      Bob  0.574683 -0.764567
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   965      Bob -0.235002 -0.461334
 2000-12-30 23:57:00  1009  Charlie  0.019651 -0.132340
 2000-12-30 23:58:00   975      Bob -0.923110  0.972980
 2000-12-30 23:59:00   933      Bob -0.591440 -0.749674
 2000-12-31 00:00:00   967  Charlie  0.741108  0.542663

 [525601 rows x 4 columns],
                      id_8   name_8       x_8       y_8
 timestamp
 2000-01-01 00:00:00  1048    Alice  0.403201 -0.756503
 2000-01-01 00:01:00  1037      Bob -0.690994 -0.623366
 2000-01-01 00:02:00   987      Bob  0.656727  0.579849
 2000-01-01 00:03:00  1013      Bob -0.132701 -0.173416
 2000-01-01 00:04:00  1010  Charlie -0.741446 -0.886785
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   974  Charlie -0.407472 -0.389456
 2000-12-30 23:57:00  1026      Bob -0.069845 -0.217647
 2000-12-30 23:58:00   952      Bob -0.535735  0.385133
 2000-12-30 23:59:00  1047  Charlie  0.737935 -0.888214
 2000-12-31 00:00:00  1028    Alice  0.365877 -0.289246

 [525601 rows x 4 columns],
                      id_9   name_9       x_9       y_9
 timestamp
 2000-01-01 00:00:00  1025  Charlie -0.957208 -0.757508
 2000-01-01 00:01:00   981    Alice -0.414445 -0.100298
 2000-01-01 00:02:00   923  Charlie -0.325838  0.581859
 2000-01-01 00:03:00  1042      Bob  0.992033 -0.686692
 2000-01-01 00:04:00   964  Charlie -0.924556 -0.184161
 ...                   ...      ...       ...       ...
 2000-12-30 23:56:00   992      Bob -0.226454  0.450415
 2000-12-30 23:57:00   958    Alice -0.311898 -0.821734
 2000-12-30 23:58:00  1022    Alice  0.780304  0.246168
 2000-12-30 23:59:00   946    Alice -0.821978 -0.316737
 2000-12-31 00:00:00   964    Alice -0.690506  0.780760

 [525601 rows x 4 columns]]

In [10]:
ts_wide = pd.concat(timeseries, axis=1)
ts_wide

,id_0,name_0,x_0,y_0,id_1,name_1,x_1,y_1,id_2,name_2,...,x_7,y_7,id_8,name_8,x_8,y_8,id_9,name_9,x_9,y_9
timestamp,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:00:00,977,Alice,-0.821225,0.906222,975,Bob,-0.288451,-0.215082,1047,Alice,...,-0.371775,0.697468,1048,Alice,0.403201,-0.756503,1025,Charlie,-0.957208,-0.757508
2000-01-01 00:01:00,1018,Bob,-0.219182,0.350855,1032,Alice,0.919521,-0.338915,1043,Bob,...,-0.570205,-0.473155,1037,Bob,-0.690994,-0.623366,981,Alice,-0.414445,-0.100298
2000-01-01 00:02:00,927,Alice,0.660908,-0.798511,967,Alice,0.628664,0.763875,963,Alice,...,-0.690044,-0.912261,987,Bob,0.656727,0.579849,923,Charlie,-0.325838,0.581859
2000-01-01 00:03:00,997,Bob,-0.852458,0.735260,1021,Bob,0.995494,0.514133,952,Charlie,...,-0.397596,0.248303,1013,Bob,-0.132701,-0.173416,1042,Bob,0.992033,-0.686692
2000-01-01 00:04:00,965,Bob,0.717283,0.393391,1011,Bob,-0.143403,-0.282985,973,Charlie,...,0.574683,-0.764567,1010,Charlie,-0.741446,-0.886785,964,Charlie,-0.924556,-0.184161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-12-30 23:56:00,1037,Bob,-0.814321,0.612836,984,Charlie,-0.247867,0.703024,980,Bob,...,-0.235002,-0.461334,974,Charlie,-0.407472,-0.389456,992,Bob,-0.226454,0.450415
2000-12-30 23:57:00,980,Bob,0.232195,-0.618828,975,Alice,-0.838312,-0.160905,940,Bob,...,0.019651,-0.132340,1026,Bob,-0.069845,-0.217647,958,Alice,-0.311898,-0.821734
2000-12-30 23:58:00,965,Alice,-0.231131,0.026310,929,Alice,0.220898,-0.073311,1037,Alice,...,-0.923110,0.972980,952,Bob,-0.535735,0.385133,1022,Alice,0.780304,0.246168
2000-12-30 23:59:00,984,Alice,0.942819,0.853128,1000,Bob,-0.344186,0.477168,971,Bob,...,-0.591440,-0.749674,1047,Charlie,0.737935,-0.888214,946,Alice,-0.821978,-0.316737
2000-12-31 00:00:00,1003,Alice,0.201125,-0.136655,1046,Bob,0.036291,0.336345,930,Charlie,...,0.741108,0.542663,1028,Alice,0.365877,-0.289246,964,Alice,-0.690506,0.780760